*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    
    height: 100vh;
    z-index: -1;
    width: 87vw;
}
#navbarr{
    position: fixed;
    z-index: 1;
    /* box-shadow:  6px 15px 5px rgb(239,241,243); */
}


.piggyvest{
    margin-left: 5px;
    
}



    

.first-ul li{
    margin: 40px;
    margin-right: -15px;
    text-decoration: none;
 font-size: 16.5px;
     font-weight: 550; 
    line-height: 27.2px;
    font-family: "DM Sans", sans-serif;
    
}
.save{
    text-decoration: none;
    color: rgb(12, 24, 37);
}
.invest{
text-decoration: none;
color: rgb(12, 24, 37);
}
.stories{
    text-decoration: none;
    color: rgb(12, 24, 37);
}
.faqs{
    text-decoration: none;
    color: rgb(12, 24, 37);
}
.Blog{
    text-decoration: none;
    color: rgb(12, 24, 37);
}


.last-ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-left: 150px;
}
.bt{
    margin-right: 220px;
    border-radius: 15px;
    
    height: 55px;
    width: 95px;
    font-size: 16.5px;
    font-weight: 600;
    line-height: 27px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: "DM Sans", sans-serif;
    background-color: #fff;
    color: black;
    transition-property: color;
}
.bt :hover{
    color: rgb(13, 96, 216);
    
}
.btn1{
    width: 240px;
    height: 60px;
    border-radius: 15px;
    background-color: black;
    color: #fff;
    line-height: 27px;
    font-weight: 600;
    font-size: 16.5px;
    font-family: "DM Sans", sans-serif;
    position: relative;
    bottom: 5px;
    right: 213px;
    transition: color;
}
#bte :hover{
    color: rgb(13, 96, 216);
}

.img1{
   position: relative;
   left: 800px;
   width: 350px;
   top: 130px;
    animation-name: img1;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    animation-delay: 1s;
    
}
@keyframes img1{
    0%{opacity: 0;}
    100%{opacity: 1;}
    
}
.img2{
    position: relative;
    top: 120px;
    left: 410px;
    width: 350px;
    animation-name: img2;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    animation-delay: 1s;
    
}
@keyframes img2{
    0%{opacity: 0;}
    100%{opacity: 1;}
    
}
.img3{
    width: 210px;
    position: relative;
    right: 45px;
    top: 70px;
    animation-name: img3;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    animation-delay: 1s;
    
}
@keyframes img3{
    0%{opacity: 0;}
    100%{opacity: 1;}
    
}
.img4{
    width: 220px;
    position: relative;
    bottom: 15px;
    left: 65rem;
    animation-name: img4;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    animation-delay: 1s;
    
}
@keyframes img4{
    0%{opacity: 0;}
    100%{opacity: 1;}
    
}
#br{
    position: relative;
    bottom: 450px;
    left: 50px;
    width: 510px;
}
h1{
    font-size: 70px;
    font-weight: 700;
    line-height: 82.42px;
    font-family: U8-Bold;
    background-color: #fff;
    color:rgb(12, 24, 37);
    animation-name: h1;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    
    
}
@keyframes h1{
    0%{opacity: 0;}
    100%{opacity: 1;}
    
}
p{
    font-size: 16.5px;
    font-weight: 400;
    line-height: 27.2px;
    font-family: "DM Sans", sans-serif;
    background-color: #fff;
    color: rgb(53, 53, 53);
    animation-name: p;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    
    
}
@keyframes p{
    0%{opacity: 0;}
    100%{opacity: 1;}
    
}
.bt3{
    width: 240px;
    height: 60px;
    border-radius: 15px;
    background-color: black;
    color: #fff;
    line-height: 27px;
    font-weight: 600;
    font-size: 16.5px;
    font-family: "DM Sans", sans-serif;
    position: relative;
    margin: 20px;
    
    border: 1px solid ;
    transition: color;
}
.bt3 :hover{
    color: rgb(13, 96, 216);
}
.fa-brands{
    font-size: 20px;
}
#btnlo{
    background-color: #fff;
    padding: 5px;
    margin: 20px;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 13px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.gt{
    position: relative;
    top: 10px;
    left: 10px;
}
.ga{
    background-color: #fff;
    padding: 5px;
    margin: 20px;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 13px;
    width: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    position: relative;
    left: 180px;
    bottom: 75px;
}
.gd{
    position: relative;
    left: 10px;
    top: 10px;
}
.container{
    width: 900px;
    position: relative;
    bottom: 28rem;
    
}
.im{
    width: 100px;
    position: relative;
    left: 300px;
    top: 140px;
    animation-name: im;
    animation-fill-mode: forwards;
    animation-duration: 4s;
    animation-delay: 1s;
    
}
@keyframes im{
    0%{opacity: 0;}
    100%{opacity: 1;}
    
}

.yp{
    position: relative;
    left: 450px;
    font-weight: 700;
    font-size: 33px;
    line-height: 41.21px;
    animation-name: yp;
    animation-fill-mode: forwards;
    animation-duration: 4s;
    animation-delay: 1s;
    
}
@keyframes yp{
    0%{opacity: 0;}
    100%{opacity: 1;}
    
}
     
.ssl{
    position: relative;
    left: 450px;
    font-weight: 500;
    font-size: 15.5px;
    line-height: 27.2px;
    font-family: "DM Sans", sans-serif;
    color: rgb(53, 53, 53);
    animation-name: ssl;
    animation-fill-mode: forwards;
    animation-duration: 4s;
    animation-delay: 1s;
    
}
@keyframes ssl{
    0%{opacity: 0;}
    100%{opacity: 1;}
    
}

.lm{
    position: relative;
    left: 450px;
    top: 10px;
    text-decoration: none;
    font-size: 16.5px;
    font-weight: 500;
    line-height: 27.2px;
    font-family: "DM Sans", sans-serif;
    color: rgb(13, 96, 216);
}
.fa-solid{
    position: relative;
    left: 455px;
    top: 10px;
    color: rgb(13, 96, 216);
}
.container7{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 200px;
    
    
}
.container80{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    position: relative;
    bottom: 70px;
    
    
    
}
.Div1{
    position: relative;
    left: 40px;
    margin: 5px;
    
    
}
.ways{
    font-size: 38px;
    font-weight: 700;
    line-height: 48.08px;
}
.any{
    font-size: 16.5px;
    font-weight: 500;
    line-height: 27.2px;
    font-family: "DM Sans", sans-serif;
    position: relative;
    top: 10px;
}
.buttonss{
    width: 160px;
    height: 60px;
    border-radius: 15px;
    background-color: black;
    color: #fff;
    line-height: 27px;
    font-weight: 600;
    font-size: 16.5px;
    font-family: "DM Sans", sans-serif;
    position: relative;
    margin: 20px;
    right: 30px;
    top: 20px;
    border: 1px solid ;
}
.img5{
    width: 55px;
    position: relative;
    bottom: 190px;
    right: 140px;
    background-color: #f9f9f9;
}
.img6{
    width: 55px;
    position: relative;
    bottom: 210px;
    right: 140px;
    background-color: #f9f9f9;
}
.Div2{
    margin-right: 100px;
    background-color: #f9f9f9;
    width: 350px;
    position: relative;
    left: 270px;
    border-radius: 10px;
    
}
.savings{
    font-size: 25px;
    font-weight: 700;
    line-height: 25.18px;
    background-color: #f9f9f9;
    margin-left: 20px; 
}
.build{
    font-size: 16.5px;
    font-weight: 500;
    line-height: 27.2px;
    font-family: "DM Sans", sans-serif;
    position: relative;
    top: 10px;
    position: relative;
    top: 20px;
    background-color: #f9f9f9;
    margin-left: 20px; 

}
.bank{
    text-decoration: none;
    font-weight: 520;
    font-size: 18.5px;
    line-height: 29.2px;
    color: black;
    font-family: "DM Sans", sans-serif;
    position: relative;
    top: 70px;
    background-color: #f9f9f9;
    margin-left: 20px; 
}
.Div3{
    margin-right: 100px;
    background-color: #f9f9f9;
    width: 350px;
    position: relative;
    left: 200px;
    border-radius: 10px;
}
.fixed{
    font-size: 25px;
    font-weight: 700;
    line-height: 25.18px;
    margin-left: 20px; 
}
.money{
    font-size: 16.5px;
    font-weight: 500;
    line-height: 27.2px;
    font-family: "DM Sans", sans-serif;
    position: relative;
    top: 10px;
    position: relative;
    top: 20px;
    background-color: #f9f9f9;
    margin-left: 20px; 
}
.safe{
    text-decoration: none;
    font-weight: 520;
    font-size: 18.5px;
    line-height: 29.2px;
    color: black;
    font-family: "DM Sans", sans-serif;
    position: relative;
    top: 70px; 
    background-color: #f9f9f9; 
    margin-left: 20px; 
}
.sv2{
    position: relative;
    right: 8.5rem;
    top: 2px;
}
.Div5{
    margin-right: 100px;
    background-color: #f9f9f9;
    width: 350px;
    position: relative;
    left: 320px;
    bottom: 90px;
    border-radius: 10px;
}
.flexible{
    font-size: 25px;
    font-weight: 700;
    line-height: 25.18px;
    margin-left: 20px;
}
.transfer{
    font-size: 16.5px;
    font-weight: 500;
    line-height: 27.2px;
    font-family: "DM Sans", sans-serif;
    position: relative;
    top: 10px;
    position: relative;
    top: 20px;
    background-color: #f9f9f9;
    margin-left: 20px;
}
.flex{
    text-decoration: none;
    font-weight: 520;
    font-size: 18.5px;
    line-height: 29.2px;
    color: black;
    font-family: "DM Sans", sans-serif;
    position: relative;
    top: 70px; 
    background-color: #f9f9f9; 
    margin-left: 20px; 
}
.img7{
    width: 55px;
    position: relative;
    bottom: 200px;
    right: 140px;
    background-color: #f9f9f9;
}
.div4{
    margin-right: 100px;
    background-color: #f9f9f9;
    width: 350px;
    position: relative;
    left: 390px;
    bottom: 90px;
    border-radius: 10px;
}
.goal{
    font-size: 25px;
    font-weight: 700;
    line-height: 25.18px;
    margin-left: 20px;
    
}
.reach{
    font-size: 16.5px;
    font-weight: 500;
    line-height: 27.2px;
    font-family: "DM Sans", sans-serif;
    position: relative;
    top: 10px;
    position: relative;
    top: 20px;
    background-color: #f9f9f9;
    margin-left: 20px;
}
.tar{
    text-decoration: none;
    font-weight: 520;
    font-size: 18.5px;
    line-height: 29.2px;
    color: black;
    font-family: "DM Sans", sans-serif;
    position: relative;
    top: 70px; 
    background-color: #f9f9f9; 
    margin-left: 20px; 
}
.img8{
    width: 55px;
    position: relative;
    bottom: 200px;
    right: 175px;
    background-color: #f9f9f9;
}
.sv3{
    position: relative;
    right: 8.5rem;
    top: 2px;
}
.sv4{
    position: relative;
    right: 10.5rem;
    top: 2px;
}
.inve{
    width: 256px;
    position: relative;
    left: 200px;
    top: 120px;
    opacity: 1;
}
.return{
    position: relative;
    left: 600px;
    bottom: 330px;
}
.up{
    font-size: 19.5px;
    font-weight: 750;
    line-height: 27.2px;
    color: rgb(121, 19, 229);
    background-color: rgb(247, 240, 255);
    width: 200px;
    margin-bottom: 55px;

}
.h2{
    font-weight: 750;
    font-size: 55px;
    line-height: 64.1px;
}
.ND{
    font-size: 16.5px;
    font-weight: 500;
    line-height: 27.2px;

    
    margin-top: 35px;
}
.more{
    font-size: 16.5px;
    font-weight:550 ;
    line-height: 27.2px;
    color: rgb(121, 19, 229);
    text-decoration: none;
    margin-top: 50px;
    font-family: "DM Sans", sans-serif;
    position: absolute;
    z-index: -1;
}
.fa-chevron-right{
    position: relative;
    left: 250px;
    top : 50px;
    z-index: 1;
}
.col-md-5{
    background-image:url(https://storage.googleapis.com/piggyvestwebsite/piggywebsite2020/saver_c7daec0bf5/saver_c7daec0bf5.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    width: 390px;
    height: 33rem;
    
    
    
    
    
    
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.saver{
    background-color: rgb(13, 96, 216);
    width: 900rem;
    height: 33rem;
    
}
.meet{
    font-size: 58px;
    font-weight: 750;
    line-height: 60.1px;
    color: #fff;
    position: relative;
    left: 60px;
    top: 95px;
    
}
.shine{
background-color: rgb(13, 96, 216);
position: relative;
top: 120px;
color: #fff;
margin-left: 50px;
font-weight: 420;
font-size: 17.5px;
line-height: 27.2px;
}
.ekom{
position: relative;
top: 145px;
color: #fff;
left: 80px;
font-weight: 700;
font-size: 16.5px;
line-height: 27.2px;
text-decoration: none;
}
.circle{
    position: relative;
    right: 210px;
}
.million{
    margin-left: 550px;
    margin-top: 170px;
}
.custo{
    font-weight: 700;
    font-size: 31px;
    line-height: 41.21px;
    color: rgb(12, 24, 37);
}
.used{
    font-weight: 450;
    font-size:16.5px;
    line-height: 27.2px;
    color: rgb(53, 53, 53);
    font-family: "DM Sans", sans-serif;
}
.sec1{
    background-color:
rgb(249, 249, 249);
display: flex;
margin: 100px;
padding: 65px 65px;

}
.tpoint{
    width: 150px;
    position: relative;
    left: 100px;
    
}
.guard{
width: 170px;
position: relative;
left: 200px;

}
.crunch{
width: 170px;
position: relative;
left: 300px;

}
.asin{
    font-weight: 750;
    font-size:36px ;
    line-height:41.2px ;
    position: relative;
    right: 10px;
}
#svglast{
    margin-left: 45px;
    position: relative;
    top: 95px;
}
.divf1{
    position: relative;
    left: 500px;
    display: flex;
    flex-direction: column;
}
.divf1 li{
    margin-bottom: 20px;
    list-style: none;
    
}
.divf1 a{
    text-decoration: none;
    color: black;
}
.divf2{
    position: relative;
    left: 600px;
    display: flex;
    flex-direction: column;
}
.divf2 li{
    margin-bottom: 40px;
    list-style: none;
    
 }
 .divf2 a{
    text-decoration: none;
    color: black;
     }
     .divf3{
        position: relative;
        left: 700px;
        display: flex;
        flex-direction: column;
    }
    .divf3 li{
        margin-bottom: 40px;
        list-style: none;
        
     }
     .divf3 a{
        text-decoration: none;
        color: black;
         }
         .prod{
             font-weight: 700;
             font-size: 12.82px;
             line-height: 27.2px;
         }
         .comp{
            font-weight: 700;
            font-size: 12.82px;
            line-height: 27.2px;
         }
         .legal{
            font-weight: 700;
            font-size: 12.82px;
            line-height: 27.2px;
         }
         .divf4{
             margin-left: 950px;
             margin-bottom: 200px;
         }
         i{
             margin: 5px;
         }
         .ul1{
             
             list-style: none;
             color: black;
             margin-top: 10px;
             display: flex;
             flex-direction: column;
         }
         .ul1 a{
             text-decoration: none;
             color: black;
             
         }
        .contact{position: relative;
        top: 10px;
        right: 30px;
    }
        .number{
            position: relative;
            top: 20px;
            right: 30px;
        }
         .tesmot{
             position: relative;
             right: 70px;
         }
         .divf5{
             justify-content: center;
             align-items: center;
             margin-top: 40px;
             position: relative;
             right: 160px;
             }
       .form{
           position: relative;
           left: 470px;
           font-weight: 520;
           font-size: 13.82px;
           line-height: 27.2px;
           font-family: 
           "DM Sans", sans-serif;
       }
       .limi{
           position: relative;
           left: 590px;
           top: 10px;
           color: rgb(8, 62, 158);
           font-size: 14.82px;
           font-weight: 550;
           line-height: 27.2px;
           font-family: 
           "DM Sans", sans-serif;
       }
       .lasta{
           text-decoration: none;
           color: black;
       }
      